$main-horizontal-padding: 1.5rem;

// Colours
$black: rgb(35,30,30);
$black-light: rgb(55,50,50);
$primary: red;
$secondary: blue;
$tertiary: rgb(240,240,240);
$quaternary: rgb(220,220,220);
$bg-colour: red;
$sidebar-bg: $tertiary;
$photo-bg: $black;

$sand-base: rgb(181,165,138);
$sand-light: rgb(209,200,183);
$sand-lighter: rgb(229,220,203);
$sand-lightest: $sand-lighter + rgb(20,20,20);

// Sizes
$desktop: 1024px;
$tablet: 768px;
