@import "variables";

html {
  height: 100%;

  body {
    height: 100%;
    background: $sand-lighter;
    font-family: sans-serif;
  }
}

a {
  color: $black;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: {
    left: auto;
    right: auto;
  }
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: $desktop) {
  .container {
    flex-direction: row;
  }
}

.head {
  background: $black;
  display: flex;
  width: 100%;

  .logo {
    display: inline-block;
    padding-left: 0;
    line-height: 0;

    .logo-link {
      display: flex;

      img {
        display: none;
      }

      .name {
        display: flex;
        flex-direction: column;
        place-content: center;
        padding-left: 1rem;
        color: $sand-lighter;

        h1 {
          font-size: 1.5rem;
          font-weight: normal;
          line-height: 1.5rem;
          margin: {
            top: 0;
            bottom: 0.4rem;
          }
        }

        h2 {
          font-size: 1rem;
          font-weight: normal;
          line-height: 1.2rem;
          margin: 0;
        }
      }
    }

    &:hover {
      .name {
        color: $sand-lightest;
      }
    }
  }

  .navigation {
    flex-grow: 1;
    display: flex;
    align-content: right;
    align-items: center;
    place-content: center;
    padding-right: $main-horizontal-padding;
    text-align: center;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline-block;

        a {
          display: block;
          padding: 0.5rem 1rem;
          text-decoration: none;
          color: $sand-lighter;

          &:hover {
            color: $sand-lightest;
            border-bottom: 1px solid $sand-lightest;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .head {
    .logo {
      .logo-link {
        padding-left: $main-horizontal-padding;

        img {
          display: inline-block;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  .head {
    .navigation {
      text-align: right;
      place-content: flex-end;
    }
  }
}

.main {
  width: 100%;
  height: 100%;

  & > .container {
    flex-direction: column;
  }

  .main-header {
    text-align: center;
  }

  .callout-image {
    a {
      display: block;
      background: $photo-bg;
      padding: 0.5rem;

      img {
        width: 100%;
      }
    }
  }

  .text {
    background: $sand-lightest;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: 0.25rem solid $sand-lighter;
  }

  .search {
    h3 {
      text-align: center;
    }

    .search-input {
      text-align: center;
      width: 50%;
      margin: {
        left: auto;
        right: auto;
      }

      input {
        &.text-input {
          width: 20rem;
        }

        &.button {

        }
      }
    }
  }

  .taxons {
    column-count: 1;

    .taxon {
      display: inline-block;
      padding: {
        top: 0.5rem;
        bottom: 1rem;
      }

      h3 {
        column-span: all;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          &.more {
            margin-top: 1rem;
          }
        }
      }
    }

    &.taxons-single {
      column-count: auto;

      .taxon {
        display: block;
        column-count: 1;
      }
    }
  }

  .main-footer {
    padding: {
      top: 3rem;
      bottom: 1rem;
      left: 2.5rem;
    }

    a {
      display: block;
    }

    .cardiff-uni {
      margin-right: 1rem;
    }

    .lottery-fund {
    }
  }
}

@media only screen and (min-width: $tablet) {
  .main {
    .taxons {
      column-count: 3;

      &.taxons-single {
        .taxon {
          column-count: 3;
        }
      }
    }

    .main-footer {
      .container {
        flex-direction: row;
      }
    }
  }
}

.pagination {
  width: 100%;
  text-align: center;
  margin: {
    top: 2rem;
    bottom: 2rem;
  }

  a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: $sand-light;
    border: 1px solid $sand-light;
    text-decoration: none;

    &:hover {
      border: 1px solid $sand-base;
    }

    &.disabled {
      display: none;
    }

    &.current {
      background: $black;
      border: 1px solid $black;
      color: $sand-lighter;

      &:hover {
        cursor: default;
      }
    }

    &.elipsis {
      &:hover {
        border: 1px solid $sand-light;
        cursor: default;
      }
    }
  }
}
