@import "variables";

.records-container {
  flex-direction: column;
}

.record {
  height: 100%;
  display: flex;

  .media-viewer-container {
    background: $photo-bg;
    width: 100%;
    max-height: 80%;
    padding: {
      top: 1rem;
      bottom: 0.75rem;
    }
  }

  .media-viewer {
    height: 100%;
    max-width: 1280px;
    margin: {
      left: auto;
      right: auto;
    }
    text-align: center;

    .record-assets-asset {
      height: 100%;
      display: none;
      line-height: 0;

      &.active {
        display: block;
      }

      img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
      }
    }
  }

  .media-viewer-thumbnails-container {
    background: $photo-bg;
    width: 100%;
  }

  .media-viewer-thumbnails {
    background: $photo-bg;
    max-width: 1280px;
    margin: {
      left: auto;
      right: auto;
    }
    text-align: center;

    a {
      display: inline-block;
      padding: {
        left: 0.25rem;
        right: 0.25rem;
        bottom: 0.5rem;
      }

      img {
        width: 120px;
        height: 120px;
      }
    }
  }

  .record-full {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 2rem;

    .record-left {
      flex-grow: 1;

      .text {
        margin: {
          left: 0;
          bottom: 0;
        }

        padding-bottom: 1rem;
      }

      .record-head {
        .title {
          margin: {
            top: 0.5rem;
            bottom: 0.5rem;
          }
        }

        .id {
          margin: 0;
        }

        .contributor {
          margin-top: 0;
        }
      }
    }

    .record-right {
      flex: none;
      width: 20rem;
      height: 100%;
      background: $sand-light;
      padding: {
        left: $main-horizontal-padding;
        right: $main-horizontal-padding;
      }

      .record-taxons-taxon {
        padding-top: 1rem;
        border-bottom: 1px solid $sand-base;

        &:last-child {
          border: 0;
        }

        h2 {
          margin: {
            bottom: 0.8rem;
          }

          a {
            text-decoration: none;
          }
        }

        ul {
          list-style: none;
          padding: 0;
          margin: {
            top: 0;
            bottom: 1.5rem;
          }
        }
      }
    }
  }

  @media only screen and (min-width: $desktop) {
    .record-full {
      flex-direction: row;
    }
  }
}

.records {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;

  .record-thumbnail {
    display: inline-block;
    width: 100%;
    text-align: center;
    background: $black-light;
    margin: 0.5rem;
    padding: 0.25rem;

    a {
      display: block;
      line-height: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  @media only screen and (min-width: $desktop) {
    .record-thumbnail {
      width: 22.5%;

      a {
        display: block;
        line-height: 0;
        max-height: 288px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
