@import "variables";

.search-results {
  .search {
    margin-bottom: 1rem;
  }

  .search-result {
    a {
      display: block;
      text-decoration: none;
      padding: 1.5rem 1rem;

      &:hover {
        background: $sand-lighter;
      }

      .title {
        display: block;
        text-decoration: underline;
        margin-bottom: 0.5rem;
      }

      .description {
        margin: 0;
      }
    }
  }
}
