<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block pre_title %}{% endblock pre_title %}{% block title %}Views of an Antique Land{% endblock title %}</title>

    <link rel="stylesheet" href="/main.css">
    <script type="text/javascript" src="/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}{% endblock head %}
  </head>

  <body>
    <header class="head">
      <div class="container">
        <div class="logo">
          <a href="/" class="logo-link">
            <img src="{{ resize_image(path="pyramid.png", width=150, op="fit_width") }}">

            <div class="name">
              <h1>Views of an Antique Land</h1>
              <h2>Imaging Egypt and Palestine in the First World War</h2>
            </div>
          </a>
        </div>

        <nav class="navigation">
          {% if lang == "cym" %}
            <ul>
              <li>
                <a href="/cym">Hafan</a>
              </li>

              <li>
                <a href="/records">Gweld y Delweddau</a>
              </li>

              <li>
                <a href="/cym/about">Y Wefan</a>
              </li>

              <li>
                <a href="/">English</a>
              </li>
            </ul>
          {% else %}
            <ul>
              <li>
                <a href="/">Home</a>
              </li>

              <li>
                <a href="/records">Browse images</a>
              </li>

              <li>
                <a href="/about">About the project</a>
              </li>

              <li>
                <a href="/cym">Cymru</a>
              </li>
            </ul>
          {% endif %}
        </nav>
      </div>
    </header>

    <section class="main">
      <header class="main-header">
        {% block page_header %} {% endblock page_header %}
      </header>

      {% block content %} {% endblock content %}
    </section>

    <script data-goatcounter="https://stats.ww1imagesegypt.org.uk/count" async src="//stats.ww1imagesegypt.org.uk/count.js"></script>
    {% block foot %}{% endblock foot %}
  </body>
</html>
