{% macro page_link(number, paginator) %}
  {% if number > 0 and number != 1 and number < paginator.number_pagers %}
    <a href="{{ paginator.base_url ~ number }}">{{ number }}</a>
  {% endif %}
{% endmacro page_link %}

{% macro media_asset_path(filename) %}{{ "records/images/" ~ filename ~ ".jpg" }}{% endmacro media_asset_path %}
{% macro media_asset_thumb_path(filename) %}{{ "records/images/thumbnails/" ~ filename ~ ".jpg" }}{% endmacro media_asset_thumb_path %}

{% macro paginate(paginator) %}
  <nav class="pagination">
    {% if paginator.current_index != 1 %}
      <a href="{{ paginator.previous }}"><</a>
      <a href="{{ paginator.first }}">1</a>
    {% else %}
      <a class="disabled"><</a>
    {% endif %}

    {% if paginator.current_index > 4 %}
      <a class="elipsis">...</a>
    {% endif %}

    {{ helpers::page_link(number=(paginator.current_index - 2), paginator=paginator) }}
    {{ helpers::page_link(number=(paginator.current_index - 1), paginator=paginator) }}

    <a class="current">{{ paginator.current_index }}</a>

    {{ helpers::page_link(number=(paginator.current_index + 1), paginator=paginator) }}
    {{ helpers::page_link(number=(paginator.current_index + 2), paginator=paginator) }}

    {% if paginator.current_index < (paginator.number_pagers - 3) %}
      <a class="elipsis">...</a>
    {% endif %}

    {% if paginator.current_index != paginator.number_pagers %}
      <a href="{{ paginator.last }}">{{ paginator.number_pagers }}</a>
      <a href="{{ paginator.next }}">></a>
    {% else %}
      <a class="disabled">></a>
    {% endif %}
  </nav>
{% endmacro paginate %}

{% macro thumb_gallery(pages) %}
<section class="records">
  {% for page in pages %}
    <div class="record-thumbnail">
      <a href="{{ page.permalink | safe }}">
        {% set img_name = page.extra.media_assets | first %}
        {% set thumb_path = self::media_asset_thumb_path(filename=img_name) %}
        <img src="{{ get_url(path=thumb_path) }}" alt="{{ page.description }}">
      </a>
    </div>
  {% endfor %}
</section>
{% endmacro thumb_gallery %}

{% macro license(license_url, short_code) %}
  <a rel="license" href="{{ license_url }}">
    <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/{{ short_code }}/88x31.png" />
  </a>
{% endmacro license %}

{% macro search_form() %}
  <div class="search">
    <h3>Search by keyword or phrase</h3>

    <form action="/search/" method="get" role="search" id="searchForm">
      <div class="input search-input">
        <input type="text" name="q" class="text-input">
        <input type="submit" value="Search" class="button">
      </div>
    </form>
  </div>
{% endmacro search_form %}
