{% extends "base.html" %}
{% import "helpers.html" as helpers %}

{% block title %}{{ section.title }}{% endblock title %}

{% block content %}
  {% set categories = get_taxonomy(kind="categories") %}
  {% set people = get_taxonomy(kind="people") %}
  {% set keywords = get_taxonomy(kind="keywords") %}

  <div class="container">
    <div class="text">
      <h1>{{ section.title }}</h1>
      <h2>{{ section.description }}</h2>

      {{ section.content | safe }}
    </div>
  </div>

  <div class="container">
    <div class="text">
      <h2>Browse the images</h2>

      <div class="callout-image">
        <a href="/records/d0004-00106/">
          <img src="/records/images/D0004-00106_IGP4126_front.jpg">
        </a>
      </div>

      {{ helpers::search_form() }}

      <div class="taxons">
        <div class="taxon categories">
          <h3>Browse by <a href="/categories">Category</a></h3>
          <ul>
          {% for term in categories.items %}
            <li>
              <a href="{{ term.permalink }}">
                {{ term.name }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>

        <div class="taxon people">
          <h3>Browse by <a href="/people">People</a></h3>
          <ul>
          {% for term in people.items %}
            <li>
              <a href="{{ term.permalink }}">
                {{ term.name }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>

        <div class="taxon keywords">
          <h3>or Browse by <a href="/keywords">Keyword</a></h3>
          <ul>
          {% for term in keywords.items | slice(end=20) %}
            <li>
              <a href="{{ term.permalink }}">
                {{ term.name }}
              </a>
            </li>
          {% endfor %}
            <li class="more">
              <a href="/keywords">
                More...
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer class="main-footer">
    <div class="container">
      <a href="https://www.cardiff.ac.uk" class="cardiff-uni">
        <img src="{{ resize_image(path="cardiff_university.jpg", height=100, op="fit_height") }}">
      </a>

      <a href="https://www.heritagefund.org.uk" class="lottery-fund">
        <img src="{{ resize_image(path="lottery_fund.png", height=100, op="fit_height") }}">
      </a>
    </div>
  </footer>
{% endblock content %}
