{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
  <div class="container">
    <div class="text">
      <h1>{{ page.title }}</h1>
      <h2>{{ page.description }}</h2>

      {{ page.content | safe }}
    </div>
  </div>

  <footer class="main-footer">
    <div class="container">
      <a href="https://www.cardiff.ac.uk" class="cardiff-uni">
        <img src="{{ resize_image(path="cardiff_university.jpg", height=100, op="fit_height") }}">
      </a>

      <a href="https://www.heritagefund.org.uk" class="lottery-fund">
        <img src="{{ resize_image(path="lottery_fund.png", height=100, op="fit_height") }}">
      </a>
    </div>
  </footer>
{% endblock content %}
