{% extends "base.html" %}
{% import "helpers.html" as helpers %}

{% block content %}
  <div class="record records-container">
    {% set assets = page.extra.media_assets %}

    <div class="media-viewer-container">
      <div class="media-viewer">
        {% for asset in assets %}
          {% set path = helpers::media_asset_path(filename=asset) %}

          {% if loop.index == 1 %}
            {% set additional_class = "active" %}
          {% else %}
            {% set additional_class = "" %}
          {% endif %}

          <div class="record-assets-asset {{ additional_class }}" data-asset="{{ path }}">
            <img src="{{ get_url(path = path) }}">
          </div>
        {% endfor %}
      </div>
    </div>

    {% if assets | length > 1 %}
      <div class="media-viewer-thumbnails-container">
        <div class="media-viewer-thumbnails">
          {% for asset in assets %}
            {% set path = helpers::media_asset_path(filename=asset) %}
            {% set thumb_path = self::media_asset_thumb_path(filename=asset) %}

            <a href="{{ get_url(path=path) }}" data-asset-target="{{ path }}">
              <img src="{{ get_url(path=thumb_path) }}">
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <div class="container">
      <section class="record-full">
        <div class="record-left">
          <div class="text">
            <header class="record-head">
              <h1 class="title">{{ page.title }}</h1>
              <h2 class="id">ID: {{ page.extra.guid }}</h2>
              <h3 class="contributor">Contributed by: {{ page.extra.contributor }}</h3>

              <span class="license">
                {{ helpers::license(license_url=page.extra.license_url, short_code=page.extra.license_short_code) }}
              </span>
            </header>

            <article class="record-longform">
              <p class="summary">{{ page.summary }}</p>
              <p class="description">{{ page.description }}</p>
            </article>

            <article class="record-narrative">
              <p class="cultural-narrative">{{ page.extra.cultural_narrative }}</p>
            </article>

            {% if page.extra.location %}
              <section class="record-location">
                {{ page.extra.location.latitude }}
                {{ page.extra.location.longitude }}
              </section>
            {% endif %}
          </div>
        </div>

        <aside class="record-right">
          {% for taxon, terms in page.taxonomies %}
            {% if terms | length  > 0 %}
              <div class="record-taxons-taxon">
                <h2>
                  <a href="{{ get_url(path = "/" ~ taxon) }}">
                    {{ taxon | title }}
                  </a>
                </h2>

                <ul>
                  {% for term in terms %}
                    <li>
                      <a href="{{ get_taxonomy_url(kind = taxon, name = term) }}">
                        {{ term | title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endfor %}
        </aside>
      </section>
    </div>
  </div>
{% endblock content %}
