{% extends "base.html" %}
{% import "helpers.html" as helpers %}

{% block title %}{{ page.title }}{% endblock title %}

{% block head %}
  <script type="text/javascript" src="/elasticlunr.min.js"></script>
  <script type="text/javascript" src="/search_index.en.js"></script>
{% endblock head %}

{% block foot %}
  <template id="searchResult">
    <div class="search-result">
      <a href="" class="link">
        <span class="title"></span>
        <p class="description"></p>
      </a>
    </div>
  </template>

  <script type="text/javascript">
    let params = new URLSearchParams(window.location.search)
    let query = params.get("q")

    // Ensure search form maintains query
    let searchFormEl = document.getElementById("searchForm")
    let qInput = searchFormEl.querySelectorAll("input[name = 'q']")[0]

    qInput.value = query

    // Perform search and show results
    let index = elasticlunr.Index.load(window.searchIndex)
    let results = index.search(query)
    let resultsEl = document.getElementById("searchResults")
    let templateEl = document.getElementById("searchResult")

    results.forEach(result => {
      let el = templateEl.content.cloneNode(true)
      let wrapper = el.querySelectorAll(".search-result")[0]

      let link = wrapper.querySelectorAll(".link")[0]
      let title = wrapper.querySelectorAll(".title")[0]
      let desc = wrapper.querySelectorAll(".description")[0]

      link.setAttribute("href", result.ref)
      title.textContent += result.doc.title

      if (typeof result.doc.description !== "undefined") {
        desc.textContent += result.doc.description
      }

      resultsEl.appendChild(el)
    })
  </script>
{% endblock foot %}

{% block content %}
  {% set categories = get_taxonomy(kind="categories") %}
  {% set people = get_taxonomy(kind="people") %}
  {% set keywords = get_taxonomy(kind="keywords") %}

  <div class="container">
    <div class="text">
      <h1>{{ page.title }}</h1>

      <div id="searchResults" class="search-results">
        {{ helpers::search_form() }}
      </div>
    </div>
  </div>

  <footer class="main-footer">
    <div class="container">
      <a href="https://www.cardiff.ac.uk" class="cardiff-uni">
        <img src="{{ resize_image(path="cardiff_university.jpg", height=100, op="fit_height") }}">
      </a>

      <a href="https://www.heritagefund.org.uk" class="lottery-fund">
        <img src="{{ resize_image(path="lottery_fund.png", height=100, op="fit_height") }}">
      </a>
    </div>
  </footer>
{% endblock content %}
