{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="text">
      <h1>
        {{ taxonomy.name | title }}
      </h1>

      <div class="taxons taxons-single">
        <div class="taxon">
          <ul>
          {% for term in terms %}
          <li>
            <a href="{{ term.permalink }}">
              {{ term.name }}
            </a>
          </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
