{% extends "base.html" %}
{% import "helpers.html" as helpers %}

{% block page_header %}
<h1>
  <a href="{{ get_url(path = "/" ~ taxonomy.name) }}">{{ taxonomy.name | title }}</a>: {{ term.name | title }}
</h1>
{% endblock %}


{% block content %}

<div class="container records-container">
  {{ helpers::paginate(paginator=paginator) }}
  {{ helpers::thumb_gallery(pages=paginator.pages) }}
  {{ helpers::paginate(paginator=paginator) }}
</div>

{% endblock content %}
